<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cats</title>
</head>
<body>
    <a href="/cats/new">Add New Cat</a>
    <h1>Here are all the cats!</h1>
    <ul>
      <% cats.forEach(cat => { %>
        <li><a href="/cats/<%= cat._id %>"> <%= cat.name %> </a></li>
      <% }); %>
    </ul>
    
</body>
</html>